    body {
        align-items: center;
        justify-content: center;
        background-image: url('https://i.pinimg.com/originals/c6/c1/1d/c6c11d8ba0b9f26caf0a6a8ee3a3e78e.gif');
        background-size: cover;
    }
    
    .header {
        color: white;
        padding-top: 20px;
        font-family: 'VT323', monospace;
        font-size: 40px;
    }
    
    .logoimg {
        text-align: center;
    }
    
    .avatar-wrapper {
        position: relative;
        height: 200px;
        width: 200px;
        margin: -140px auto 20px auto;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: none;
        transition: all .3s ease;
        filter: drop-shadow(0 0 15px #48D1CC) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
    }
    
    .avatar-wrapper:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .avatar-wrapper:hover .profile-pic {
        opacity: .5;
    }
    
    .avatar-wrapper .profile-pic {
        height: 100%;
        width: 100%;
        transition: all .3s ease;
    }
    
    .avatar-wrapper .profile-pic:after {
        font-family: FontAwesome;
        content: "\f007";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        font-size: 190px;
        background: #ecf0f1;
        color: #34495e;
        text-align: center;
    }
    
    .avatar-wrapper .upload-button {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    
    .avatar-wrapper .upload-button .fa-arrow-circle-up {
        position: absolute;
        font-size: 243px;
        top: -16px;
        left: -5px;
        text-align: center;
        opacity: 0;
        transition: all .3s ease;
        color: #e4eae7;
    }
    
    .avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
        opacity: .9;
    }
    
    #avatar-header {
        /* background: #1fb8df; */
        /* width: 200px; */
        text-align: center;
        margin-left: 0px auto;
        margin-left: 35%;
        margin-right: 35%;
        border-radius: 30px;
        margin-top: 15%;
    }
    
    .avatar-header {
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    
    .nametitle {
        color: white !important;
    }
    
    .nametitle h3 {
        font-weight: 700 !important;
    }
    
    .avatar-tab li {
        width: 50%;
    }
    
    .avatar-tab li i {
        margin-bottom: 0px !important;
    }
    
    .wrap {
        height: 32%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .button {
        min-width: 300px;
        min-height: 60px;
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-weight: 700;
        color: #313133;
        background: #4FD1C5;
        background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
        border: none;
        border-radius: 1000px;
        box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
        transition: all 0.3s ease-in-out 0s;
        cursor: pointer;
        outline: none;
        position: relative;
        padding: 10px;
    }
    
    button::before {
        content: '';
        border-radius: 1000px;
        min-width: calc(300px + 12px);
        min-height: calc(60px + 12px);
        border: 6px solid #00FFCB;
        box-shadow: 0 0 60px rgba(0, 255, 203, .64);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .3s ease-in-out 0s;
    }
    
    .button:hover,
    .button:focus {
        color: #313133;
        transform: translateY(-6px);
    }
    
    button:hover::before,
    button:focus::before {
        opacity: 1;
    }
    
    button::after {
        content: '';
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 6px solid #00FFCB;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: ring 1.5s infinite;
    }
    
    button:hover::after,
    button:focus::after {
        animation: none;
        display: none;
    }
    
    @keyframes ring {
        0% {
            width: 30px;
            height: 30px;
            opacity: 1;
        }
        100% {
            width: 300px;
            height: 300px;
            opacity: 0;
        }
    }
    
    @media screen and (max-width: 1095px) {
        .avatar-wrapper {
            position: relative;
            height: 200px;
            width: 200px;
            margin: -70px auto 20px auto;
        }
    }