*, *::before, *::after 
{
    box-sizing: border-box;
}

body 
{
    margin: 0px;

    font-family: 'Lucida Sans', Verdana, sans-serif;
    color: white;
}

#vertical-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

#horizontal-container
{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

#left
{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 10vw;
    padding: 1vh 0;

    gap: 25px;


    background-color: rgb(67, 77, 87);
}

.left-button
{
    padding: 2vh 0;
}

.left-button button
{
    width: 6vw;
    height: 4vh;

    border-radius: 16px;
}

#center
{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(41, 47, 53);
    /* background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); */
    background-image: url('https://i.pinimg.com/originals/c6/c1/1d/c6c11d8ba0b9f26caf0a6a8ee3a3e78e.gif');
    background-size: cover;
    
    /* background-image: url('listen.gif');
    background-size: auto; */
}

#center-text
{
    text-align: center;
    padding: 2vh 0px;
    width: 80vw;

    background-color: rgb(41, 47, 53);

}

#room-grid
{
    padding: 2vh 1vw 2vh 1vw;
    display: grid;
    grid-template-columns: 14vw 14vw 14vw 14vw 14vw;
    grid-auto-rows: 14vw;
    gap: 1vw;
}

.grid-element
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: rgb(67, 77, 87);
    
    padding: 5px;
    border: 4px solid black;
}

.grid-element .room-join
{
    align-self: center;
}

.grid-element button
{
    
    padding: 8px 16px;
    border: 2px solid black;
    border-radius: 8px;
    
}

button:hover
{
    filter: brightness(0.8);
}

#right
{
    width: 10vw;
    padding: 1vh 0;
    text-align: center;

    background-color: rgb(67, 77, 87);
}

#Header,
#Footer 
{
    flex-shrink: 0;
    display: flex;
    height: 14vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

    background-color: white;
    font-size: 4vh;
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    
    
}
#Header
{
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

#Footer {
    height: 6vh;
    
}

.prof-pic
{
    width: 64px;
    height: 64px;
}

.img-file
{
    font-size: 14px;
    width: 8vw;
}

#upload-img-btn
{
    margin-top: 280px;
}

#create-room-btn button
{
    height: 70px;
}

.friends-header
{
    margin-bottom: 20px;
}

.friend
{
    margin-left: 20px;
}

#add-friends input
{
    width: 150px;
}
